@charset "UTF-8";

body{
    font: 16px Arial, Helvetica, sans-serif;
    background-color: gray;
}

h1{
    font-size: 30;
    font-weight: bold;
}

p{
    font-size: 15px;
}



.surpresa{
    display: none;
}
.id:hover > .surpresa{
    display: block;
}
