@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: antiquewhite;
}

header {
    background-color: black;
    text-align: center;
    padding: 40px;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.425);
}

header h1{
    font-family: 'Passion One', cursive;
    margin: auto;
    font-size: 7vw;
    color: white;
    font-variant: small-caps;
}

header p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
    color: rgb(226, 225, 225);
}

section{
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;

    padding: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;

    line-height: 2em;
}

section p{
    padding-bottom: 30px;
}
section.normal{
    padding-left: 40px;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.363);
    display: inline-block;
    
    padding: 15px 2em 15px 10px;

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
    color: white;
}

section.imagem{
    background-color: darkgray;
  
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 1px 0px 10px rgb(0, 0, 0);
}

section.imagem#primeira{
    background-position: right center;
    background-image: url("imagens/background001.jpg");
    
}
section.imagem#segunda{
    background-position: center center;
    background-image: url("imagens/background002.jpg");
}


footer{
    font-size: 1.05em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
